body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root{
    height: 100vh;
    width:100vw;
    background-color:#F2F2F2;
}
#container{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
input:focus {
    outline: none;
  }
::placeholder {
    color: #222731;
    opacity: 1; 
    font-size: 2vh;
    letter-spacing: 0.1vw;
  }
.search{
    height:7vh;
    width: 50vw;
    background-color: #FEFEFE;
    border-radius:1vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.inputBoxSearch{
    height:5vh;
    width:30vw;
    border: none;
    color: #222731;
    font-size:2vh;
    background-color: #FEFEFE;
}
.search img{
    height: 3vh;
}
.search button,.emoji button{
    height:5vh;
    width:7vw;
    color: #ffff;
    border: none;
    font-size: large;
    border-radius: 1vh;
    background-color: #0079FF;
    cursor: pointer;
}
.search button:hover{
    background-color: #60ABFF;
}
.content{
    height:85vh;
    width:100vw;
    display: grid;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: repeat(4,1fr);
    overflow: scroll;
    overflow-x:hidden;
}
a{
    text-decoration: none;
}
.parent{
    height:400px;
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    align-items:center;
    flex-direction: column;
    font-size: xx-large;
}
.parent img{
    height:200px;
    width: 200px;
}
.emoji{
    height:70vh;
    width:100vw;
    font-size: 2vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
    letter-spacing: 0.5vh;
 }
 .noApp{
    color: #6780eb;;
 }
 .emojiDiv{
    font-size:8vh;
  }
  .pTag{
    color:#222731;
  text-align: center;
  font-size:3vh;
  }
  .emptyImage{
    height: 20vh;
  }